.cta-container {
  background-color: var(--secondary-color);
  font-family: 'Fraunces';
  color: var(--dark-color);
  padding: 1rem;
  border-radius: 0.25rem;
}

.cta-image {
  height: 4rem;
}

.cta-top-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem;
}

.cta-contact-method {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
