.framed-photo-container {
  border-radius: 0.25rem;
}

.framed-photo-border-blue {
  border: 2px solid var(--secondary-color);
}

.framed-photo-border-tan {
  border: 2px solid var(--tertiary-color);
}