.framed-photo-container {
  border-radius: 0.25rem;
  max-height: 50vh;
}

.framed-photo-border-blue {
  border: 0.25rem solid var(--secondary-color);
}

.framed-photo-border-tan {
  border: 0.25rem solid var(--tertiary-color);
}
