.home-container {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--vertical-content-gap);
  padding: 0 var(--horizontal-outer-padding) 0;
  align-items: center;
}

.home-photo-1-container {
  text-align: center;
  display: flex;
  flex-direction: row wrap;
  gap: 1rem;
}

.home-photo-1 {
  height: 40vw;
  max-height: 300px;
}
