.page-container {
  padding: 2rem 3rem;
}

.page-header-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.page-header-left {

}

.page-header-right {

}

.page-footer-container {
  border-bottom: 2rem solid var(--secondary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.logo {
  max-height: 4rem;
}

.nav-bar {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  padding-top: 0.5rem;
}

.nav-link {
  font-family: 'Fraunces', serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--tertiary-color);
}

.hoan-graphic {
  width: 100vw;
  z-index: -10;
  position: absolute;
  bottom: 2rem;
  left: 0;
}