body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Fraunces';
  src: url('./assets/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf')
    format('truetype');
  /* font-weight: 400; */
}

@font-face {
  font-family: 'Karla';
  src: url('./assets/Karla/Karla-VariableFont_wght.ttf') format('truetype');
  /* font-weight: 400; */
}

:root {
  --primary-color: #ecc659;
  --secondary-color: #93b7be;
  --tertiary-color: #e7d7c1;
  --dark-color: #2f3e46;
  --light-color: #fffbf5;
  /* --black-color: #2F3E46;
  --white-color: #FFFBF5; */

  --header-left-spacing: 4rem;
  --header-left-negative-spacing: -4rem; 

  --vertical-content-gap: 8vw;
  --horizontal-outer-padding: min(5rem, 10px);
  --bottom-content-padding: 4rem;

  --single-photo-width: min(15rem, 300px);
}

body {
  font-family: 'Karla', sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fraunces', serif;
}

h1 {
  background-color: var(--tertiary-color);
  color: var(--dark-color);
  text-align: center;
  font-weight: 600;
  padding: 0.25rem 0;
  margin: 2rem 0 4rem 0;
  width: 100vw;
  margin-left: var(--header-left-negative-spacing);
}

h2 {
  color: var(--primary-color);
}

a {
  color: var(--dark-color);
}
